# LLM SERVERS
# --- Ollama ---
OLLAMA_LOCAL_HOST_URL="http://localhost:11434"
OLLAMA_SELF_HOSTED_URL=""
OLLAMA_SELF_HOSTED_API_KEY=""
OLLAMA_CLOUD_API_KEY=""
OLLAMA_CLOUD_URL="https://ollama.com"
# --- OpenAI ---
OPENAI_API_KEY=""
OPENAI_URL="https://openrouter.ai/api/v1"
--- OpenRouter ---
OPENROUTER_API_KEY=""
OPENROUTER_URL="https://openrouter.ai/api/v1"
# VECTOR DATABASE
DATABASE_PATH="./content_database/data/chroma_langchain_db"
# BOTS INTERFACES
TELEGRAM_TOKEN=""
DISCORD_TOKEN=""
# LANGFUSE
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_HOST="https://cloud.langfuse.com"
# MYSQL
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_DATABASE=""
MYSQL_ROOT_USER="root"
MYSQL_ROOT_PASSWORD=""
MYSQL_USER=""
MYSQL_PASSWORD=""