# LLM SERVERS
# --- Ollama ---
OLLAMA_LOCAL_HOST_URL="http://localhost:11434"
OLLAMA_LOCAL_ENABLED=false  # set to true to run tests that require a local Ollama server
OLLAMA_SELF_HOSTED_URL=""
OLLAMA_SELF_HOSTED_API_KEY=""
OLLAMA_CLOUD_API_KEY=""
OLLAMA_CLOUD_URL="https://ollama.com"
# --- OpenAI ---
OPENAI_API_KEY=""
OPENAI_URL="https://openrouter.ai/api/v1"
# --- OpenRouter ---
OPENROUTER_API_KEY=""
OPENROUTER_URL="https://openrouter.ai/api/v1"
# VECTOR DATABASE
DATABASE_PATH="./content_database/data/chroma_langchain_db"
# BOTS INTERFACES
TELEGRAM_TOKEN=""
DISCORD_TOKEN=""
TELEGRAM_MESSAGE_LIMIT=4096
# LANGFUSE
APP_NAME="GarysEconomics_bot"
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_HOST="https://cloud.langfuse.com"